<body>
  <div class="container">
    <div class="row">
      <div class="content col-sm-6 mb-3 mb-sm-0">
        <h1>Welcome to Fiery Restaurant</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem quia unde quos veritatis quasi rem a vel
          deserunt impedit debitis, nulla laudantium id iure officiis sunt ea voluptatem hic eligendi! Saepe ad totam
          obcaecati Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolor nobis esse dolorum
          perferendis
          reiciendis Lorem ipsum dolor sit amet Lorem, ipsum Lorem, ipsum dolor.</p>
        <div class="description">
          <ul>
            <li>Tasty, fresh daily</li>
            <li>We bake real, clean-label</li>
          </ul>
        </div>
        <div class="order-options">
          <button>
            <a class="nav-link" routerLink="/form" routerLinkActive="active" ariaCurrentWhenActive="page">Place
              order</a></button>
        </div>
      </div>
      <div class=" food-images col-sm-6">
        <img src="../../../assets/food2.jpg" alt="Food Image" />
      </div>
    </div>
  </div>
</body>
<router-outlet></router-outlet>